<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Score Prediction</title>
    <style>
        body
        {
        background-image: url("https://wallpapers.com/images/hd/information-technology-artificial-intelligence-3lmq7rank0v68rhk.jpg");
        background-size: cover;
        text-align: center;
        }
        h3.big
        {
        line-height: 1.8;
        }
    
        
    </style>
</head>
<body>

    <h3>University Score Prediction</h3>
    <form action="/login" method="post">

    <p>Quality of Education</p>
    <p><input type="text" name="qe"/></p>

    <p>Alumini Employement</p>
    <p><input type="text" name="ae"/></p>

    <p>Quality of Faculty</p>
    <p><input type="text" name="qf"/></p>

    <p>Publications</p>
    <p><input type="text" name="pb"/></p>

    <p>Influence</p>
    <p><input type="text" name="in"/></p>

    <p>Citations</p>
    <p><input type="text" name="ct"/></p>

    <p>Patents</p>
    <p><input type="text" name="pt"/></p>

    <p><input type="submit" value="Predict"/></p>

    <h4><b>{{y}}</b></h4>
    </form>
</body>
</html>